@model ContentManagementSystem.Models.User.Post

@{
    ViewData["Title"] = "Видалити пост";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            Автор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" /> <input type="submit" value="Видалити" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
    </form>
</div>