@model IEnumerable<ContentManagementSystem.Models.User.Post>

@{
    ViewData["Title"] = "Posts";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Створити новий пост</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                Автор
            </th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @(item.Text.Length > 50 ? item.Text.Substring(0, 50) + "..." : item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-info btn-sm">Деталі</a>
                    <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger btn-sm">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>